
@media (max-width:1470px) {
               *{
                              margin: 0;
                              padding: 0;
               }
               html,body{
                              width: 100%;
                              height: 100%;
               }
               #page1{
                              width: 100%;
                              height: 100vh;
                              position: relative;
                              /* z-index: 10; */
                              background-color: #FCF4E6;
               }
               
               /*  ****************** navbar *********************** */
               #nav{
                              height: 13%;
                              /* background-color: #000; */
                              position: relative;
               }
               .sticky{
                              background-color: rgba(255, 254, 254, 0.379);
                              border-radius: 40px;
                              height: 70px;
                              /* border-radius: 30px; */
                              color: white;
                              backdrop-filter: blur(12px);
                              margin-top: 20px;
                            }
               .line-cont{
               position: relative;
               }
               #navbar{
                              display: flex;align-items: center;
                              justify-content: space-between;
                              width: 79%;
                              list-style: none;
                              color: #000;
                              margin: auto;
                              position: fixed;
                              z-index: 100000;
                              top: 0%;
                              left: 12%;
                              height: 9%;
                              padding: 0px 10px;
                              border-radius: 20px;
                              border-bottom: 2px solid rgba(0, 0, 0, 0.114);
                              /* background-color: #000; */
               }
               #logo{
                              text-align: center;
                              font-family: gilroy;
                              font-size: 1.1rem;
               }
               .green{
                              color:#5FA573
               }
               .big{
                              font-size: 1.6rem;
                              letter-spacing: 1px;
               }
               #menu{
                              font-family: gilroy;
                              font-size: 1.2rem;
               }
               #menu span{
                              margin-right: 25px;
               }
               #sign-up{
                              height: 50px;
                              width: 120px;
                              padding: 8px 0 8px 15px;
                              font-family: gilroy;
                              font-size: 1.5em;
                              background-color: transparent;
                              transition: all 0.3s ease;
                              color: #000;
                              display: flex;align-items: center;
                              border: 2px solid #5FA573;
                              border-radius: 30px;
               }
               #login{
                              height: 50px;
                              font-size: 1.6rem;
                              margin-left: 20px;
                              width: 120px;
                              transition: all 0.3s ease;
                              display: flex;align-items: center;
                              justify-content: center;
                              padding: 8px 10px;
                              color: #fff;
                              font-family: gilroy;
                              border: none;
                              /* background-color: transparent; */
                             background-color:  #5FA573;
                              border-radius: 30px;
               }
               #login:hover{
                              border: 2px solid #5FA573;
                              background-color: transparent;
                              color: #000;
               }
               #sign-up:hover{
                              /* border: none; */
                              background-color: #5FA573;
                              color: #fff;
               }
               .flex{
                              display: flex;
               }
               
               /* ********************* p1-main ******************** */
               .p1-main{
                              width: 100%;
                              display: flex;
                              height: 87%;
               }
               .p1-left{
                              width: 50%;
                              position: relative;
                              padding-top: 50px;
                              height: 100%;
                              /* background-color: violet; */
               }
               .p1-left h1{
                              font-size: 5.5rem;
                              text-align: end;
                              font-family: genti;
                              letter-spacing: 1px;
                              margin-top: 10%;
                              z-index: 1;
                              position: relative;
                              margin-right: 10%;
               }
               .below-h1{
                              font-family: gilroyL;
                              color: #5A5143;
                              width: 70%;
                              margin-top: 7%;
                              letter-spacing: 1.5px;
                              margin-left: 16%;
                              font-size: 1.2rem;
                              word-spacing: 1px;
                              letter-spacing: 1px;
               }
               .button-flex{
                              margin-top: 7%;
                              height: 10%;
                              /* background-color: #000; */
                              display: flex;align-items: center;justify-content: center;
                              gap: 10%;
               }
               #Who{
                              width: 20%;
                              height: 80%;
                              background-color:#70be86 ;
                              border: none;
                              border-radius: 30px;
                              padding: 0 14px;
                              font-family: gilroy;
                              font-size: 1rem;
                              color: #fff;
               }
               .flex{
                              display: flex;
                              align-items: center;
                              gap: 10px;
               }
               .circle{
                              width: 45px;
                              height: 45px;
                              border-radius: 50%;
                              display: flex;align-items: center;justify-content: center;
                              border: 2px solid #70be86;
                              color: #70be86;
               }
               .in-bf{
                              color: #5A5143;
                              font-family: gilroy;
                              font-size: 1.1rem;
               
               }
               
               #line{
                              position: absolute;
                              right: 10%;
                              z-index: 0;
                              bottom: 0;
                              width: 75%;
                              transform: rotate(-2deg);
               }              
               
               
               
               
               /* ***************** p1-right ******************** */
               
               
               .p1-right{
                              width: 50%;
                              position: relative;
                              height: 100%;
               }
               #img1{
                              width: 100%;
                              position: absolute;
                              top: 17%;
                              z-index: 10;
                              background-image: url(https://images.pexels.com/photos/4668363/pexels-photo-4668363.jpeg?auto=compress&cs=tinysrgb&w=600);
                              left: 6%;
                              border-top-right-radius: 40%;
                              border-bottom-left-radius: 40%;
                              height: 100%;
                              background-color: rgb(0, 0, 0);
               }
               #layer1{
                              position: absolute;
                              width: 39%;
                              top: 5%;
                              left: 5%;
                              border-top-right-radius: 40%;
                              border-bottom-left-radius: 40%;
                              height: 35%;
                              border: 3px dashed #dadada;
                              
               }
               #layer2{
                              width: 35%;
                              height: 36%;
                              border: 3px dashed #dadada;
                              position: absolute;
                              border-top-left-radius: 40%;
                              border-bottom-right-radius: 40%;
                              top: 6%;
                              right:15%; 
               }
               #img2{
                              position: absolute;
                              top: 12%;
                              background-image: url(https://images.pexels.com/photos/3850512/pexels-photo-3850512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                              left: 6%;
                              height: 100%;
                              width: 100%;
                              background-color: #000;
                              border-top-left-radius: 40%;
                              border-bottom-right-radius: 40%;
                              
               }
               #layer3{
                              width: 39%;
                              height: 35%;
                              border: 3px dashed #dadada;
                              position: absolute;
                              bottom: 15%;
                              left: 4%;
                              border-top-left-radius: 40%;
                              border-bottom-right-radius: 40%;
               }
               #img3{
                              height: 100%;
                              width: 100%;
                              border-top-left-radius: 40%;
                              border-bottom-right-radius: 40%;
                              position: absolute;
                              bottom: -8%;
                              background-image: url(https://images.pexels.com/photos/3409511/pexels-photo-3409511.jpeg?auto=compress&cs=tinysrgb&w=600);
                              left: 9%;
                              background-color: #000;
               }
               .img{
                              background-size: cover;
                              background-position: center;
               }
               #layer4{
                              width: 35%;
                              height: 36%;
                              border: 3px dashed #dadada;
                              position: absolute;
                              border-top-right-radius: 40%;
                              border-bottom-left-radius: 40%;
                              bottom: 14%;
                              right:15%; 
               }
               #img4{
                              position: absolute;
                              background-image: url(https://images.pexels.com/photos/1781932/pexels-photo-1781932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
                              top:  8%;
                              left: 6%;
                              width: 100%;
                              height: 100%;
                              border-top-right-radius: 40%;
                              background-color: #000;
                              border-bottom-left-radius: 40%;
                              
               }

               /* *************** second section ************* */

               .btm-center{
                width: calc(100%/3);
                height: 100%;
                /* padding-bottom: 100px; */
                display: flex;align-items: center;justify-content: center;
                /* background-color: rgb(50, 72, 72); */
 }

               .p2-last{
                width: 100%;
                height: 10%;
                margin-top: 3%;
                display: flex;align-items: center;justify-content: center;
 }


               /* ********************card*****************  */
               .cont-bottom{
                              padding-top: 3%;
                              /* padding-left: 1%; */
                              display: flex;
                              justify-content: space-evenly;
                              gap: 1vw;
                             
               }
               .cont-top{
                width: 100%;
                height: 35%;
                margin-bottom: 20px;
                overflow: hidden;
                align-items: center;
                display: flex;
                /* background-color: pink; */
 }
               .ct-rght button{
                width: 40%;
                font-size: 1.2rem;
                letter-spacing: 1px;
                height: 30%;
                padding: 0 5px;
                position: absolute;
                bottom: 25%;
                border: none;
                transform: translate(0 ,50%);
                right: 10%;
                background-color: #5FA573;
                color: #fff;
                font-family: gilroy;
                border-radius: 30px;
 }
               
               .ct-lft h1{
                font-family: genti;
                font-weight: 100;
                padding-left: 3%;
                font-size: 3.5vw;
                /* font-size: 3rem; */
                letter-spacing: 1px;
                margin-bottom: 7%;
 }
               
}